{% extends "layout.html" %}
{% set title = 'Download' %}
{% set url = 'https://media.readthedocs.org/%s/erpya/%s/erpya.%s' %}
{% if git_branch == 'master' %}
  {% set rtd_ver = 'latest' %}
{% else %}
  {% set rtd_ver = git_branch %}
{% endif %}

{% block body %}
<h1>Download ADempiere {{ release }} Documentation</h1>

<p> </p>

<table class="docutils">
  <tr>
     <td>PDF (A4 paper size)</td>
     <td><a href="{{ url|format('pdf', rtd_ver, 'pdf') }}">Download</a> (~1 MB)</td>
  </tr>
  <tr>
     <td>HTML</td>
     <td><a href="{{ url|format('htmlzip', rtd_ver, 'zip') }}">Download</a> (~5 MB)</td>
  </tr>
  <tr>
    <td>EPUB</td>
    <td><a href="{{ url|format('epub', rtd_ver, 'epub') }}">Download</a> (~1 MB)</td>
  </tr>
</table>

<p>These archives contain all the content of the documentation.</p>

{% endblock %}
