{% extends "layout.html" %}
{% set title = _('Documentación de E.R.P. Consultores y Asociados, C.A.') %}
{% block body %}
  <h1>ADempiere<sup>&reg;</sup> {{ release|e }} Documentación</h1>
<p>
    {% block description %}{{ _('La mayor parte de las empresas adquieren distintos software para cubrir las diferentes necesidades de sus organizaciones,pero tarde se dan cuenta de lo complicado que es compartir y unificar la información que cada modulo y organización obtienen.') }}<br />
     <br />
    {{ _('ADempiere por su condición de ERP ofrece todo lo que una compañía necesita en un único software, <a href="http://erpya.com/">ERPyA</a> quiere ofrecer a sus lectores una amplia gama de documentos estructurados para usuarios de alta y baja experiencia en el manejo de Software ERP, en los cuales se explicarán de forma eficiente y detallada cada proceso de este potente sistema, definiendo paso a paso la gestión de cada uno, sus implicaciones contables, administrativas y fiscales y finalmente la emisión de resultados que le permitirá un optimo control de sus operaciones.

    La presente versión, cuenta con un entorno práctico y amigable. La misma permite la ejecución de procesos y búsquedas al mismo tiempo. Así mismo, la versión contiene otras mejoras que permiten agilizar los procesos realizados por el usuario en su día a día. ') }}{% endblock %}.
</p>
{% block tables %}
<h2>Procedimientos Estandarizados por ERPyA</h2>
<table class="contentstable" align="center">
    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("general/openproject/index") }}">
                    ¿Que es Open Project?
                </a>
                <br />
                <span class="linkdescr">¡Hey! tenemos para tí un instructivo experto de nuestra herramienta para gestión de proyectos, con la que logramos de forma ágil y eficiente el feedback con nuestros clientes.</span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("general/standard-procedures/schedule-a-meeting") }}">
                    ¿Quieres agendar una reunión?
                </a>
                <br />
                <span class="linkdescr">Las reuniones con clientes, es uno de los grandes problemas de las empresas, puesto que en ocasiones resultan improductivas,  <a href="http://erpya.com/">ERPyA</a> ha modelado un procedimiento para garantizar la armonía, ¡Conocelo!</span>
            </p>
        </td>
    </tr>

    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("general/slack/index") }}">
                    ¿Quieres conocer Slack?
                </a>
                <br />
                <span class="linkdescr">Generalmente cuando contactas al servicio de soporte por teléfono, Help Desk, formulario Web o correo electrónico se vuelve tan protocolar que tiende a ser agotador, queremos contarte la metodología de <a href="http://erpya.com/">ERPyA</a>.</span>
            </p>
        </td>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("general/standard-procedures/support-doc") }}">
                    ¿Cómo reportar tus incidentes?
                </a>
                <br />
                <span class="linkdescr">Nuestro equipo de soporte tiene la responsabilidad de responder oportunamente y dar soluciones efectivas a nuestros clientes, para esto es necesario un reporte detallado sobre el incidente o problema, puedes conocer nuestras recomendaciones aquí.</span>
            </p>
        </td>
    </tr>
</table>

<h2>Procesos de ADempiere</h2>
<table class="contentstable" align="center">
    <tr>
        <td width="50%">
            <p class="biglink">
                <a class="biglink" href="{{ pathto("adempiere/master/index") }}">
                    Maestros de ADempiere
                </a>
                <br />
                <span class="linkdescr">Los datos maestros comprenden registros que dan origen a las transacciones, por los tanto no son modificables de forma regular,en tal sentido <a href="http://erpya.com/">ERPyA</a> te explica como crear tus maestros de forma ideal evitando así duplicidad e inconsistencia en los datos.</span>
            </p>
        </td>
    </tr>
</table>

<h2>Para Mayor Información</h2>
<table class="contentstable">
    <tr>
        <td width="50%">
            <p class="biglink">Nuestra página oficial es: <a href="http://erpya.com/">E.R.P. Consultores y Asociados, C.A.</a></p>
            <p class="biglink">Si desea reportar un error o una mejora puede hacerlo en: <a href="https://github.com/erpcya/docs/issues">GitHub</a></p>
        </td>
    </tr>
</table>

{% endblock %}
{% endblock %}
