{%- extends "!layout.html" %}
{% block menu %}
<h2>Tabla de Contenido</h2>
{{ super() }}
<h2>Otros</h2>
<ul>
<li><a href="{{ pathto("contributing") }}"></a></li>
</ul>

<h2>Para Mayor Información</h2>
<ul>
<li><a href="http://erpya.com/">E.R.P. Consultores y Asociados, C.A.</a></li>
<li><a href="https://github.com/erpcya/docs/issues">GitHub</a></li>
<li><a href="{{ pathto('download') }}">Download Docs</a></li>
</ul>

<ul class="ethical-sidebar">
    <li>
        <a class="ethical-content" href="https://readthedocs.org/sustainability/click/305/gi4RdtlZ7bCi/" rel="nofollow" target="_blank" class="ethical-image-link">
                <img src="https://assets.readthedocs.org/sustainability/readthedocs-logo-fs8.png">
        </a>
        
        <li>
            <a href="https://readthedocs.org/sustainability/click/305/gi4RdtlZ7bCi/" rel="nofollow" target="_blank" class="ethical-image-link">
                Repositorios Privados y Soporte Prioritario!
                
                <br \>
                    
                Intenta leer los documentos para negocios hoy!
                            
            </a>
        </li>
    </li>
</ul>

{% endblock %}