
{# Add rst-badge after rst-versions for small badge style. #}
  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book"> Read the Docs</span>
      v: {{ current_version }}
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl>
        <dt>{{ _('Versions') }}</dt>
        
       <strong> <dd><a href="/master/">latest</a></dd>
        <dd><a href="/mini-erp/">Mini-ERP</a></dd>
        <dd><a href="/adempiere-3.7/">ADempiere-3.7</a></dd>
        <dd><a href="/4.0.0/">4.0.0</a></dd>
        </strong> 
       
      </dl>
     
    <hr/>
    
 
    </div>
  </div>
