
{# Add rst-badge after rst-versions for small badge style. #}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
  <span class="rst-current-version" data-toggle="rst-current-version">
    <span class="fa fa-book"> Read the Docs</span>
    v: {{ current_version }}
    <span class="fa fa-caret-down"></span>
  </span>
  <div class="rst-other-versions">
      <dl>
          <dt>{{ _('Versions') }}</dt>

          <strong> 
              <dd><a href="/">ADempiere-Base</a></dd>
              <dd><a href="/adempiere-legacy/">ADempiere-Legacy</a></dd> 
              <dd><a href="/mini-erp/">Mini-ERP</a></dd>
              <dd><a href="/adempiere-ui/">ADempiere-UI</a></dd>
          </strong> 

      </dl>

      <hr/>
  </div>
</div>
